
#container{
    display: flex;
    flex-direction: row;
}

#map-view{
    display: flex;
    flex-basis: 960px;
    flex-direction: column;
}

#details{
    display: flex;
    flex-grow: 1;
}

#grat{
    stroke: gray;
    fill: transparent;
    stroke-width: 1px;
    opacity: .15;
}

.continent{
    fill: rgba(255, 255, 255, 1);
    stroke: black;
    stroke-width: 1px;
}

.colony{
    fill: black;
    stroke: none;
}

.colony-hover{
    fill: blue;
    stroke: blue;
    stroke-width: 1px;
}

.colony-selected{
    fill: red;
    stroke: red;
    stroke-width: 2px;
}

.trade-arc{
    fill: transparent;
    stroke: rgba(155, 155, 155, .7);
    stroke-width: 2px;
    pointer-events: stroke;
}

.arc-hover{
    stroke: rgba(100, 100, 255, .8);
}

.arc-selected{
    stroke: coral
}
