
#container{
    display: flex;
    flex-direction: row;
    height: 800px;
}

#map-view{
    display: flex;
    flex-basis: 900px;
}

#details{
    display: flex;
    flex-grow: 1;
}

#grat{
    stroke: gray;
    fill: transparent;
    stroke-width: 1px;
    opacity: .4;
}

.continent{
    fill: rgba(255, 255, 255, 1);
    stroke: black;
    stroke-width: 1px;
}

.colony{
    fill: black;
}
