
#container{
    display: flex;
    flex-direction: row;
    height: 600px;
}

#map-view{
    display: flex;
    flex-basis: 900px;
}

#details{
    display: flex;
    flex-grow: 1;
}

.continent{
    fill: rgba(255, 255, 255, 1);
    stroke: black;
    stroke-width: 1px;
}

.grat{
    stroke: gray;
    fill: transparent;
    stroke-width: 1px;
    opacity: .2;
}