
#container{
    display: flex;
    flex-direction: row;
}

#map-view{
    display: flex;
    flex-basis: 960px;
}

#details{
    display: flex;
    flex-grow: 1;
}

#grat{
    stroke: gray;
    fill: transparent;
    stroke-width: 1px;
    opacity: .4;
}

.continent{
    fill: rgba(255, 255, 255, 1);
    stroke: black;
    stroke-width: 1px;
}

.colony{
    fill: black;
    stroke: none;
}

.colony-hover{
    fill: blue;
    stroke: blue;
    stroke-width: 1px;
}

.colony-selected{
    fill: red;
    stroke: red;
    stroke-width: 2px;
}

.trade-arcs{
    fill: transparent;
    stroke: rgba(160, 160, 160, .8);
    stroke-width: 2px;
    pointer-events: stroke;
}

.arc-hover{
    stroke: coral;
}